// Here you can add other styles
.custom_card_dropzone {
  padding: 30px;
  border-bottom: #ccc 1px solid;
  margin-bottom: 20px;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 150px;
  width: 100%;
  border: 2px dashed #CCC !important;
  outline: none;
}

.dropzoneReject {
  border: 2px dashed #c77171 !important;
}
.dropzoneAccept {
  border: 2px dashed #519668 !important;
}

.custom_preview_dropzone {
  margin-top: 20px;
  width: 100px;
}

.dark-theme .form-control:disabled {
  background-color: #4c4f54;
}

.picker.show .input-group {
  background-color: rgba(255, 255, 255, 0.05);
}

.page-item {
  cursor: pointer;
}

.pagination {
  --cui-pagination-active-bg : #00F6BA;
}